.form_input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 50px;
    background-color: #ECECEC;
    border: none;
    width: 35%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    outline: none;
    margin-bottom: 1.2%;

}

.form_input:focus {
    box-shadow: #a7a7a7 5px 7px 12px;
    transform: scale(1.02);
}

.button-green {
    background-color: #60DCC6;
    box-shadow: #a7a7a7 2px 3px 6px;
    border-radius: 50px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 10px 80px;
    width: 35%;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 2rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-green:hover {
    box-shadow: #a7a7a7 5px 7px 12px;
    transform: scale(1.02);
}

.button-white {
    background-color: #FFFFFF;
    box-shadow: #a7a7a7 2px 3px 6px;
    border-radius: 50px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 2rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.button-white:hover {
    box-shadow: #a7a7a7 5px 7px 12px;
    transform: scale(1.02);
}

.link {
    color: #a7a7a7;
    text-decoration: None;
    font-size: 1.8rem;
}

.link:hover {
    color: #a7a7a7;
    transform: scale(1.02);
}

.linkParent {
    text-align: center;
}

.logo {
    text-align: center;
    margin: 70px;
}

.icon:hover {
    transform: scale(1.03);
    transition: 1s;
}

.errorMsg {
    width: 94.80%;
}

.column {
    float: left;
}

.column.left {
    width: 75%;
    position: relative;
    text-align: center;

}

.column.right {
    width: 25%;
    position: relative;
    text-align: center;
}


@media screen and (max-width: 600px) {

    .column.left,
    .column.right {
        width: 100%;
    }
}


.bg-box {
    position: absolute;
    z-index: 1;
    margin-bottom: 5px;
    width: 130%;
    height: 200%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background: url("../../images/background1.jpg");
}

.centered {
    z-index: 2;
    position: relative;
    text-align: center;
    margin-top: 125%;
    margin-left: -5%;
    width: 80%;
    height: 40%;
    bottom: 60%;
    /* left: -34%; */
}

.backgroundMX {
    position: relative;
    float: right;
    width: 120%;
    display: block;
}

.centeredMX {
    color: #FFFFFF;
    position: relative;
    transform: translate(-9%, -52.5%);
}

.centerHeading {
    text-align: center;
}

.eventInput {
    display: flex;
    justify-content: center;
}

.inputChild {
    padding: 10px;
    margin-bottom: 200px;
    align-items: center;
}
