.rounded-circle {
    border-radius: 50%;
    height: 300px;
    width: 300px
}

.center-div {
    display: flex;
    justify-content: center;
}

.center-with-padding {
    display: inline;
    margin-bottom: 20px;
}

.edit-profile-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.table-bottom {
    margin-bottom: 10px
}

.center-single-button {
    display:block;
    margin:auto;
}