.bottom-spacing {
  margin-bottom: 20px;
}

.modCode {
  margin-bottom: 20px;
  margin-top: 20px;
}

.modGrade {
  margin-bottom: 20px;
}

.addModButton {
  display: flex;
  justify-content: center;
}

.show-toast {
  z-index: 2000;
}

.bottom-rectangle {
  height: 50px;
}
